{{=@@ @@=}}
%%
%% application properties file.
%%

[
 %% SASL config
 {sasl, [
         {sasl_error_logger, false},
         {errlog_type, error},
         {error_logger_mf_dir, "{{log_dir}}/{{node_name}}/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 10}           % 5 files max
        ]},

 {kernel,[
          {logger_level, {{log_level}}},
          {logger,
           [{handler, default, log_std_h,
             #{formatter => {logger_formatter,
                             #{
                               legacy_header => false,
                               single_line => true,
                               time_offset => 0 %% UTC time
                              } %% formatter options
                            } %% formatter
              }},
            {handler, disk_log, logger_disk_log_h,  % {handler, HandlerId, Module,
             #{config => #{
                           file => "{{log_dir}}/{{node_name}}.log",
                           type => wrap,
                           max_no_files => 5,
                           max_no_bytes => 10485760
                          }, % config
               formatter => {logger_formatter,
                             #{
                               legacy_header => false,
                               single_line => true,
                               time_offset => 0 %% UTC time
                              } %% formatter options
                            } %% formatter
              }
            }  % default handler
           ]}
         ]},

 %% {mnesia, [
 %%           {dir, "{{lib_dir}}/{{node_name}}-mnesia"}
 %%          ]},

 {@@name@@, [
            ]}

].
