{{=@@ @@=}}
{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [{rebar3_lint, "0.4.0"}, {rebar3_check_deps, "0.1.0"}, rebar3_format, erlfmt]}.
{format, [
    {files, ["apps/*/src/*.erl", "apps/*/include/*.hrl"]},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.

{plugins, [
          ]}.

{provider_hooks, [
                  {pre, []},
                  {post, []}
                 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{ct_readable, true}.

%% xref configurations
{xref_checks,[undefined_function_calls, undefined_functions,
              deprecated_function_calls, deprecated_functions]}.

%% relx release configurations
{relx, [{release, {'@@name@@', {cmd, "./ebump current"}},
         ['@@name@@']},

        {mode, dev},

        {overlay_vars, "./config/local.vars"},
        {overlay, [
                   {template, "./config/sys.config", "releases/{{release_version}}/sys.config"},
                   {template, "./config/vm.args", "releases/{{release_version}}/vm.args"}
                  ]}]
}.

{profiles, [
            {test, [{extra_src_dirs, [{"test", [{recursive, true}]}]}, %% needed only for test profile
                    {deps, [
                            meck, elli
                           ]},
                    {relx, [{overlay_vars, ["./config/local.vars", "./config/test.vars"]}]}
                   ]},
            {prod, [{erl_opts, [no_debug_info]},
                    {relx, [{mode, prod},
                            {overlay_vars, ["./config/local.vars", "./config/prod.vars"]}]}]}
           ]}.
